.container{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.row{
    display: flex;
}
.col{
    width: 26.66%;
    padding: 10px;
}
.s{
    float: right;
}
